# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.*

# Runtime data
.runtime/
*.log

# Virtual environments
.venv/
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# VSCode / IDE settings
.vscode/
.idea/

# Blender backups
*.blend1
*.blend2
*.blend@
*.blend~

# Exported assets
polycam/raw_scans/
polycam/processed/

# Test outputs
*.tmp
*.bak
